html{
  height: 100%;
}
body{
  display: grid;
  grid: auto;
  background-color: white;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body div{
  text-align: center;
}
header{
  display: flex-end;
  background-color: #3b8dad;
  font-size: 1.7vw;
  margin-top: -4%;
}
nav {
  float: right;
  width: auto;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#navbar{
  display: flex;
  align-items: flex-end;
  height: 60px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
#menu{
  text-align: center;
  margin-left: -20%;
  height: 25px;
  width: 50px;
  -webkit-user-select: none;
  user-select: none;
  grid-column: 2;
  grid-column-end: 2;
}
.links{
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-around;
  margin-bottom: 5%;
}
#menu > input{
  position: absolute;
  height: 30px;
  width: 35px;
  right: 24px;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#linkmenu{
  position: absolute;
  padding: 0;
  margin: 0;
  margin-left: -19%;
  padding-left: 10px;
  padding-right: 10px;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  /*end of ccs.glass*/
  transform-origin: 0px 0px;
  transform: translate(0, -170%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: color 0.3s ease;
  z-index: 1;
}
#linkmenuKombi{
  position: absolute;
  padding: 0;
  margin: 0;
  margin-left: -14%;
  padding-left: 10px;
  padding-right: 10px;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  /*end of ccs.glass*/
  transform-origin: 0px 0px;
  transform: translate(0, -170%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: color 0.3s ease;
  z-index: 1;
}
a, a:link, a:visited{
  color: white;
  text-shadow: #1C1A1A 10px;
  text-decoration: none;
}
#menu input:checked ~ ul{
  transform: none;
}
.bar1, .bar2, .bar3 {
  /* position: relative; */
  z-index: 1;
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 5px 0;
  justify-content: end;
}
#headerText{
  margin-bottom: 5%;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  background-image: url("math.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 10%;
  text-shadow:
  0.05em 0 black,
  0 0.05em black,
  0 -0.05em 0 black,
  0 -0.05em black;
  grid-column: 1 / span 4;
}
#KontaktText{
  margin-bottom: 5%;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  background-image: url("kontakt.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 10%;
  text-shadow:
  0.05em 0 black,
  0 0.05em black,
  0 -0.05em 0 black,
  0 -0.05em black;
  grid-column: 1 / span 4;
}
.logo{
  margin-top: 10px;
}
p{
  margin: 0;
  padding: 0;
}
header > .logo{
  margin-bottom: 15px;
  overflow:visible;
}
#umfrage{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 12px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.3); 
text-align: center;
padding: 15px;
margin: 0;
grid-column: 2 / span 2;
}
#kontakt{
/* From https://css.glass */
background: rgba(59, 141, 173, 0.4);
border-radius: 12px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(59, 141, 173, 0.5); 
text-align: center;
padding: 15px;
margin: 0;
grid-column: 2 / span 2;
width: 20em;
}
#pageName{
  text-align: center;
  padding: 0;
  margin: 0;
} 
#inhaltsverzeichnis{
  padding: 0;
  margin: 0;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  border: 1px solid rgba(0, 0, 0, 0.38);
  text-align: left;
  font-weight: light;
  grid-column: 1 / span 5;
}
.inhaltsverzeichnisPunkt{
  list-style-type:decimal;
}
#aufgabeAbsoluteHaeufigkeit1{
  padding-bottom: 10px;
  padding-top: 10px;
}
#else{
  text-align: center;
}
#bsp{
  font-weight: bold;
}
.def{
  font-weight: bold;
}
.definition{
  text-align: left;
  padding: 0px;
  padding-bottom: 10px;
  border: 1px solid lightblue;
  background-color: lightblue;
}
.uebungen{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.uebungen > input[type=text]{
  width: 150px;
  grid-column: 2 / span 1;
}
input[type=text]{
  grid-column: 2 / span 1;
}
input[type=button]{
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
}
[class=kontakt]{
  grid-column: 2 / span 1;
  margin: 4px;
  border-style: none;
  border-radius: 1em;
  padding: 4px;
  width: 250px;
}
textarea{
  height: 80px;
}
h2{
  text-align: center;
}
h3{
  text-align: left;
}
section{
  display: grid;
}
#intro{
  grid-column: 1 / span 4;
}
hr{
  border: 0;
  clear:both;
  width: 96%;               
  background-color: black;
  height: 1px;
}
.inhalts,.inhalts:link,.inhalts:visited{
  color: black;
  text-shadow: #1C1A1A 10px;
  text-decoration: underline;
}
header > .logo{
  margin-top: 15px;
}
iframe{
  width: 70%;
}
#moreTopics{
  margin: 20px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 3vw;
  padding: 20px;
  background-color: #1C1A1A;
  color: white;
  margin-top: auto;
}
.footer a:hover {
  color: lightblue;
}
.firstlink a,
.socialmedialinks a {
  color: white;
}
.firstlink {
  grid-row: 1;
}
.socialmedialinks {
  grid-row: 2;
}
#umfrage{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.3); 
}


@media(min-width: 720px) {
  header{
    margin: 0;
  }
  body{
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
  }
  .bar1,.bar2,.bar3{
    display: none;
  }
  #headerText{
    background-image: url("math.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: span 4;
  }
  #KontaktText{
    background-image: url("kontakt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: span 4;
  }
  div p{
    padding: 0;
    margin: 0;
  }
  .inhaltsverzeichnisPunkt{
    text-align: center;
    list-style-type:decimal;
    list-style-position:inside;
  }
  #linkmenu{
    display: flex;
    top: 12%;
    right: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    display: flex;
    top: 12%;
    right: 10px;
  }
  .video{
    height: 500px;
    width: 650px;
  }
  #linkmenuKombi{
    display: flex;
    top: 12%;
    right: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    display: flex;
    top: 12%;
    right: 10px;
  }
  .links{
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
  }
  a:hover{
    color:#000000;
  }
  h2,h3{
    text-align: center;
  }
  .definition{
    text-align: center;
    width: 100%;
    background-color: white;
    width: 100%;
  }
  main{
    display: grid;
    grid-template: inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #umfrage{
    grid-column: 2 / span 2;
  }
  #kontakt{
    grid-column: 2 / span 2;
    width: auto;
  }
  .uebungen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .uebungen > input[type=text]{
    width: auto;
    grid-column: 2 / span 1;
  }
  .uebungen > input[type=button]{
    grid-column: 3;
    width: 100px;
  }
  [class=kontakt]{
    padding: 8px;
    width: 300px;
  }
  .kontakt[type=text]{
    width: 300px;
  }
  .kontakt[type=email]{
    width: 300px;
  }
  textarea{
    width: 300px;
    height: 100px;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
    font-size: 1.3vw;
  }
  .firstlink {
    grid-row: 1;
    grid-column: 1;
  }
  .socialmedialinks {
    grid-row: 1;
    grid-column: 2;
  }
  .links{
    margin-left: 10px;
    margin-top: 15px;
  }
  a:hover{
    color:#000000;
  }
}




